@use '../custom' as *;

#about {
    line-height: 2;

    .about__content {
        border-right-style: inset;
    }
}

@include media-breakpoint-down(sm) {
    #about {

        .about__content {
            border-right-style: none;
            margin-bottom: 1.5rem;
        }
    }
}