@use '../custom' as *;
@use '../components/default' as *;
@use '../components/mixins' as *;
 
.banner{
    @include gradient;
    padding: 10rem 0 0 0;

    .desc{
        font-weight: lighter ;
        color: $white;
    }


.headerText{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: $white;
    font-size: 3.5rem;
    }

    @include media-breakpoint-down(sm){
        .desc{
            justify-content: space-evenly;
        }
    }

}

@include media-breakpoint-down(sm){
    .banner{
    
        .desc{
            font-weight: lighter ;
            color: $white;
        }

        .headerText{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 700;
            color: $white;
            font-size: 2.5rem;
            margin-top: 1.2rem;
            }
}
}