@use '../custom' as *;

footer {
  background-color: $secondary;
    text-align: center;
    color: $white;
  
    a {
      text-decoration: none;
      font-weight: 600;
      color: $primary;
  
      :hover {
        font-size: 14px !important;
        text-decoration: underline !important;
      }
    }
  }