@use '../custom' as *;

footer {
  background-color: rgb(26, 26, 26);
  text-align: center;
  color: #797F7D;
  font-size: 0.4rem;

  a {
    text-decoration: none;
    font-weight: 600;
    color: $primary;

    :hover {
      font-size: 14px !important;
      text-decoration: underline !important;
    }
  }

  // #credit__author {
  //   border-left: 1px solid;
  // }

}

@include media-breakpoint-down(sm) {
  body {
    footer {
      text-align: none;
      padding: 0;
      font-size: 14px;

      #credit__author {
        display: block;
        border-left: none;
      }

      .position-absolute {
        display: none;
      }

      .container {
        padding: 0;
        min-width: 250px;
      }
    }
  }
}