@use '../custom' as *;

.HowToUse {
    line-height: 2;

    .HowToUse__content {
        border-right-style: ridge;
    }

}

@include media-breakpoint-down(sm) {
    .HowToUse {
        padding: 1rem;

        .HowToUse__content {
            border-right-style: none;
        }
    }

}