@use '../custom' as *;
@use '../components/mixins' as *;

.menu {
  @include gradient;

  .logo {
    color: $white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    font-weight: 700;

    :hover {
      color: whitesmoke;
    }
  }

  li {

    a {
      font-size: 1rem;
      color: $white  !important;
      font-weight: 400;
      padding: 0 0.7rem;
      margin-right: 1.8rem;
    }

    :hover {
      border-bottom: 2px solid $primary  !important;
    }
  }

  @include media-breakpoint-down(lg) {
    position: absolute;

    .logo {
      padding: 0;
      margin: 0;

      img {
        display: none;
      }
    }

    a {
      text-align: center;
      margin-top: 1rem;

      :hover {
        border: none;
        color: whitesmoke;
      }
    }
  }
}