@use '../custom' as *;

$bgColor: #ffffff;
$font-color: rgb(61, 59, 59);

/* DEFAULT STYLES */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: $bgColor;
  font-size: 20px;
  color: $font-color;

  .padding-0 {
    margin: 0;
    padding: 0;
  }
}

a {
  text-decoration: none;
  color: $primary;
}

p {
  line-height: 1.5;
}


h1,
h2,
h3 {
  color: $primary;
}

.ads {
  border-radius: 1rem;
}

@include media-breakpoint-down(sm) {
  body {
    font-size: 1.1rem;

    .display-none {
      display: none;
    }

    .ads {
      margin: 0;
    }
  }


  section {
    .img-fluid {
      width: 100%;
      height: 200px;
    }
  }

}

@include media-breakpoint-down(lg) {
  section {
    .img-fluid {
      width: 100%;
      height: 200px;
    }
  }
}